In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [53]:
wine = pd.read_csv(os.path.join('winequality-red2.csv'))
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,goodquality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [54]:
# Assign X (data) and y (target)
X = wine.drop("goodquality", axis=1)
y = wine["goodquality"]
print(X.shape, y.shape)

(1599, 11) (1599,)

Split our data into training and testing

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

Create a Logistic Regression Model

In [62]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1599)
classifier

LogisticRegression(max_iter=6396)

Fit (train) or model using the training data

In [63]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=6396)

Validate the model using the test data

In [64]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8748957464553795
Testing Data Score: 0.9

Make predictions

In [65]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 1 0 0 0 0 0]
First 10 Actual labels: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [66]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0             0       0
1             0       0
2             0       0
3             0       0
4             1       0
..          ...     ...
395           0       0
396           0       0
397           0       1
398           0       0
399           0       1

[400 rows x 2 columns]